In [8]:
import sqlalchemy as sa
import pandas as pd
import os
from typing import Any

In [9]:
income_inequality_dataset: str = "./income_inequality_cleaned.csv"
port: str = "5432"

In [10]:
income_inequality_df: pd.DataFrame = pd.read_csv(income_inequality_dataset)

print(income_inequality_df)

                dataset  time_period region_name   region_type region_code  \
0     income_inequality         2011   Nederland       Country        NL01
1     income_inequality         2012   Nederland       Country        NL01
2     income_inequality         2013   Nederland       Country        NL01
3     income_inequality         2014   Nederland       Country        NL01
4     income_inequality         2015   Nederland       Country        NL01
...                 ...          ...         ...           ...         ...
3933  income_inequality         2017      Zwolle  Municipality      GM0193
3934  income_inequality         2018      Zwolle  Municipality      GM0193
3935  income_inequality         2019      Zwolle  Municipality      GM0193
3936  income_inequality         2020      Zwolle  Municipality      GM0193
3937  income_inequality         2021      Zwolle  Municipality      GM0193

             population  private_houshold_amount  average_standardized_income  \
0     Private housholds                7347500.0                      25600.0
1     Private housholds                7412100.0                      25800.0
2     Private housholds                7467800.0                      25900.0
3     Private housholds                7496400.0                      27300.0
4     Private housholds                7568500.0                      27100.0
...                 ...                      ...                          ...
3933  Private housholds                  57700.0                      27800.0
3934  Private housholds                  58300.0                      28100.0
3935  Private housholds                  59000.0                      30000.0
3936  Private housholds                  59800.0                      30900.0
3937  Private housholds                  60500.0                      32200.0

      median_standardized_income  inequality_income
0                        22800.0             2800.0
1                        23000.0             2800.0
2                        23200.0             2700.0
3                        23900.0             3400.0
4                        24300.0             2800.0
...                          ...                ...
3933                     25400.0             2400.0
3934                     25800.0             2300.0
3935                     27200.0             2800.0
3936                     28400.0             2500.0
3937                     29600.0             2600.0

[3938 rows x 10 columns]

In [7]:
engine: sa.Engine = sa.create_engine(f"postgresql://student:infomdss@db_dashboard:{port}/dashboard")

with engine.connect() as connection:
    result: sa.CursorResult[Any] = connection.execute(sa.text("DROP TABLE IF EXISTS income_inequality CASCADE;"))

income_inequality_df.to_sql("income_inequality", engine, if_exists="replace", index=True)

938